doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="css/app.css")
        title Short Url's
    body 
        header 
            .container
                h1 Url's shortener
        main 
            block content 
        div(class="result" id="result")
        footer 
            p
                a(href='https://github.com/XcarlosX20') Carlos Sierra
                |  | All rights reserved © 2022
        script(src="js/scripts.js")
